body {
    background-color: #382933;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #519872;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
.container {
    
    text-align: center;
    width: 70%;
    margin: auto;
}
.dice{
    display:inline-block;
    margin:0px 10px 0px 10px;
}
img{
    width:80%;
}
footer {
    
    margin-top: 10% ;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}